<html>
<head>
<title>Advisorkhoj</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="margin:0px; padding:0px; font-family:Helvetica; color:#333333; font-size:15px;">

<h2>Chekcingk new page</h2>
<div style="page-break-after:always">&nbsp;</div>

<center>
<table border="0" cellpadding="0" cellspacing="0" style="background-color:#fdfaf5;" >
	<tr valign="top">
		<td colspan="5">
			<a target="_blank" href="https://www.advisorkhoj.com/" style="text-decoration: none;">
			<img src="https://www.advisorkhoj.com/resources/images/newsletter/header-form.jpg" width="695" height="169" alt="header">
			</td>
	</tr>
	<tr valign="top" style="background-color:#fdfaf5;">
		<td width="37">&nbsp;</td>
		<td colspan="2">
			<table width="621" border="0" cellpadding="0" cellspacing="0" style="text-align:left;">
			<tr valign="top">
			<td>
			<a target="_blank" href="https://www.miraeassetmf.co.in/funds/goal-systematic-investment-plan#utm_source=advisorkhoj&utm_medium=email&utm_campaign=goalsip"><img width="620" height="90" title="Mirae Asset Mutual Fund" alt="" src="https://www.advisorkhoj.com/resources/images/ads/Mirae-Goal-SIP-Web-Banner-620pxX90px-2.jpg"></a>
			</td>
			</tr>
			<tr valign="top">
			<td height="19">&nbsp;</td>
			</tr>
			
	    <tr>
		<td style="border: 1px solid #f0e4cf; padding:30px; background-color:#fff;" >
			<table width="100%">
<tr>

<td colspan="2">
<table width="100%">
<tr>
<td align="left"><span style="font-size:26px;"><strong>
Latest Article - <p th:text="'Hi, ' + ${name} + '!'" /> 
<ul th:each="data, iterstat: ${listExample}">
    <li th:text="${data}" th:id="|td${iterstat.index}|"></li> 
</ul>
</strong></span>

</td>
<td align="right"><a target="_blank" href="https://www.advisorkhoj.com/miraeasset" style=" font-size:15px;color: #336699; margin-top: 10px;display: inline-block; float:right;text-decoration: none;">See All Articles <img style="display: inline-block;width: 16px;height: 16px;margin-left: 7px;vertical-align: middle;" src="https://www.advisorkhoj.com/resources/images/newsletter/right-icon.png" alt="" title="See All Articles" /></a></td>
</tr>
</table>

</td>
</tr>

<tr valign="top">
<td colspan="2">
	<table>
	<tr>
	<td valign="top">
		<div>
			<a target="_blank" href="https://www.advisorkhoj.com/miraeasset/zones-of-support" style="text-decoration: none;"><img src="https://www.advisorkhoj.com/resources/images/articles/Zones-Support/Zones-Support-home.jpg" width="160" alt="" title="Zones of support"/></a>
		</div>
	</td>
	<td valign="top">
		<p style="margin-left:20px;"><a target="_blank" href="https://www.advisorkhoj.com/miraeasset/zones-of-support" style="font-size:20px; color: #336699;text-decoration: none;text-align:justify;">Zones of support</a></p>
<p style="font-size:13px; color:#797676;margin-left:20px;">Nov 01, 2018 by <a target="_blank" href="https://www.advisorkhoj.com/about-us/experts#Dwaipayan" style="color: #336699;text-decoration: none">Dwaipayan Bose</a></p>
	</td>
	</tr>
	</table>
</td>
</tr>
<tr valign="top">
<td colspan="2"><p style="margin-top:10px; line-height:23px;font-size:16px;text-align:justify;">Zone of support is the price zone from where stocks bounce back after falling. Traders usually like to buy stocks in this zone. For Nifty – 50 this year so far, the 10,000 mark has formed a zone of support. Though the... <a target="_blank" href="https://www.advisorkhoj.com/miraeasset/zones-of-support" style="color: #336699;text-decoration: none">Read More </a></p>
</td>
</tr>

</table></td>
	</tr>
	
	<tr>
		<td height="19">&nbsp;</td>
	</tr>
	
        <tr>
		<td style="border: 1px solid #f0e4cf; padding:30px; background-color:#fff;" >
			<table width="100%">
<tr>

<td colspan="2">
<table width="100%">
<tr>
<td align="left"><span style="font-size:26px;"><a onMouseOver="this.style.color='#B80000'" onMouseOut="this.style.color='#000000'" style="text-decoration: none;color: black;" target="_blank" href="https://www.advisorkhoj.com/mutual-funds-research"><strong>MF Research Tools</strong></a></span>

</td>
<td align="right"><a target="_blank" href="https://www.advisorkhoj.com/mutual-funds-research" style=" font-size:15px;color: #336699; margin-top: 10px;display: inline-block; float:right;text-decoration: none;">See All Research <img style="display: inline-block;width: 16px;height: 16px;margin-left: 7px;vertical-align: middle;" src="https://www.advisorkhoj.com/resources/images/newsletter/right-icon.png" alt="" title="See All Research" /></a></td>
</tr>
</table>

</td>
</tr>

<tr valign="top">
<td colspan="2"><p style="margin-top:10px; line-height:23px;font-size:16px;text-align:justify;"><font style="background-color:#FFFF00"><b>Compare Latest NAV versus 52 Week High NAV</b></font> – Check how the <a target="_blank" href="https://www.advisorkhoj.com/mutual-funds-research/latest-Mutual-Funds-NAV-52-week-high-nav?category=Equity:%20Mid%20Cap&amc=All&option=Latest%20NAV%20vs%2052%20Week%20Highest%20NAV" style="color: #FF0000;text-decoration: none"><u><b>NAVs of your invested schemes have gone down versus their peaks</b></u></a> with recent correction and fall of around 10% in Infosys stock price yesterday.</p>
</tr>

<tr valign="top">
<td colspan="2"><p style="margin-top:10px; line-height:23px;font-size:16px;text-align:justify;"><font style="background-color:#FFFF00"><b>Mutual Fund NAV Changes</b></font> – You can now check which funds in a <a target="_blank" href="https://www.advisorkhoj.com/mutual-funds-research/latest-Mutual-Funds-NAV-52-week-high-nav?category=Equity:%20Multi%20Cap&amc=All&option=Latest%20NAV%20vs%2052%20Week%20Lowest%20NAV" style="color: #FF0000;text-decoration: none"><u><b>category appreciated the most from their lowest NAVs</b></u></a></p>
</td>
</tr>

</table></td>
	</tr>
	
	<tr valign="top">
			<td height="19">&nbsp;</td>
			</tr>
			
		<tr>
		<td style="border: 1px solid #f0e4cf; padding:30px; background-color:#fff;" >
			<table width="100%">
<tr>

<td colspan="2">
<table width="100%">
<tr>
<td align="left"><span style="font-size:26px;"><strong>Tools and Calculators</strong></span>

</td>
<td align="right"><a target="_blank" href="https://www.advisorkhoj.com/tools-and-calculators/home-loan-emi-calculator" style=" font-size:15px;color: #336699; margin-top: 10px;display: inline-block; float:right;text-decoration: none;">See All Tools and Calculators <img style="display: inline-block;width: 16px;height: 16px;margin-left: 7px;vertical-align: middle;" src="https://www.advisorkhoj.com/resources/images/newsletter/right-icon.png" alt="" title="See All Tools and Calculators" /></a></td>
</tr>
</table>

</td>
</tr>

<tr valign="top">
<td colspan="2"><p style="margin-top:10px; line-height:23px;font-size:16px;text-align:justify;"><a target="_blank" href="https://www.advisorkhoj.com/tools-and-calculators/goal-based-top-up-sip" style="color: #FF0000;text-decoration: none"><u><b>GOAL BASED TOP UP SIP</b></u></a> – But what happens if you cannot invest Rs 15,000 monthly now? Do not worry - You can still <font style="background-color:#FFFF00">achieve the target amount of 5 Crores by just investing Rs 8,400 per month and increase the SIPs by 10% annually!</font></p>
</td>
</tr>

</table></td>
	</tr>
	
	<tr valign="top">
			<td height="19">&nbsp;</td>
			</tr>
			
		<tr>
		<td style="border: 1px solid #f0e4cf; padding:30px; background-color:#fff;" >
			<table width="100%">
<tr>

<td colspan="2">
<table width="100%">
<tr>
<td align="left"><span style="font-size:26px;"><strong>Term Of The Week</strong></span>
<td align="right"><a target="_blank" href="https://www.advisorkhoj.com/term-of-the-week" style=" font-size:15px;color: #336699; margin-top: 10px;display: inline-block; float:right;text-decoration: none;">Term Of The Week <img style="display: inline-block;width: 16px;height: 16px;margin-left: 7px;vertical-align: middle;" src="https://www.advisorkhoj.com/resources/images/newsletter/right-icon.png" alt="" title="See All Articles" /></a></td>

</td>

</tr>
</table>

</td>
</tr>

<tr valign="top">
<td>
	<table>
	<tr>

	<td valign="top">
		<p><a target="_blank" href="https://www.advisorkhoj.com/term-of-the-week/Bond%20duration:%20Macaulay%20and%20Modified%20Duration" style="font-size:20px; color: #336699;text-decoration: none;text-align:justify;">Bond duration: Macaulay and Modified Duration</a></p>

	</td>
	</tr>
	</table>
</td>
</tr>

<tr valign="top">
<td colspan="2"><p style="margin-top:10px; line-height:23px;font-size:16px;text-align:justify;">Duration is one of the most important concepts of fixed income investments. Bond prices have an inverse relationship with interest rate changes; bond prices go up when interest rate falls and vice versa. Duration... <a target="_blank" href="https://www.advisorkhoj.com/term-of-the-week/Bond%20duration:%20Macaulay%20and%20Modified%20Duration" style="color: #336699;text-decoration: none">Read More </a></p>
</td>
</tr>

<tr valign="top">
<td colspan="2">
	<table>
	<tr>
	<td valign="top">
		<div>
			<a target="_blank" href="https://www.advisorkhoj.com/term-of-the-week" style="text-decoration: none;"><img src="https://www.advisorkhoj.com/resources/images/term-of-the-week/Mirae-Asset-Knowledge-Academy.png" width="160" alt="" title=""/></a>
		</div>
	</td>
	
	</tr>
	</table>
</td>
</tr>

</table></td>
	</tr>
	
	<tr valign="top">
			<td height="19">&nbsp;</td>
			</tr>

        <tr>
		<td style="border: 1px solid #f0e4cf; padding:30px; background-color:#fff;" >
			<table width="100%">
<tr>

<td colspan="2">
<table width="100%">
<tr>
<td align="left"><span style="font-size:26px;"><strong>Video</strong></span>

</td>
</tr>
</table>

</td>
</tr>

<tr valign="top">
<td colspan="2">
	<table>
	<tr>
	<td valign="top">
		<div>
			<a target="_blank" href="https://www.youtube.com/watch?v=YeX65SR2c50&list=PLf8aN99KuDg_ZwgG4ce7T7xSOET2kStIZ&index=2&t=0s" style="text-decoration: none;"><img src="https://www.advisorkhoj.com/resources/images/newsletter/Edelweiss-Diwali-Safety.png" width="160" alt="" title="#AdviceZarooriHai Diwali Safety AV (feat. Mumbai Fire Brigade)"/></a>
		</div>
	</td>
	<td valign="top">
		<p style="margin-left:20px;"><a target="_blank" href="https://www.youtube.com/watch?v=YeX65SR2c50&list=PLf8aN99KuDg_ZwgG4ce7T7xSOET2kStIZ&index=2&t=0s" style="font-size:20px; color: #336699;text-decoration: none;text-align:justify;">#AdviceZarooriHai Diwali Safety AV (feat. Mumbai Fire Brigade)</a></p>
	</td>
	</tr>
	</table>
</td>
</tr>

</table></td>
	</tr>
	
	<tr>
		<td height="19">&nbsp;</td>
	</tr>			
		
		<tr>
		<td style="border: 1px solid #f0e4cf; padding:30px; background-color:#fff;" >
			<table width="100%">
<tr>

<td colspan="2">
<table width="100%">
<tr>
<td align="left"><span style="font-size:26px;">Most Read <strong>Article</strong></span>

</td>
<td align="right"><a target="_blank" href="https://www.advisorkhoj.com/iciciprumf" style=" font-size:15px;color: #336699; margin-top: 10px;display: inline-block; float:right;text-decoration: none;">See All Most Read Articles <img style="display: inline-block;width: 16px;height: 16px;margin-left: 7px;vertical-align: middle;" src="https://www.advisorkhoj.com/resources/images/newsletter/right-icon.png" alt="" title="See All Most Read Articles" /></a></td>
</tr>
</table>

</td>
</tr>

<tr valign="top">
<td colspan="2">
	<table>
	<tr>
	<td valign="top">
		<div>
			<a target="_blank" href="https://www.advisorkhoj.com/iciciprumf/how-to-select-best-mutual-funds:-lessons-from-football" style="text-decoration: none;"><img src="https://www.advisorkhoj.com/resources/images/articles/Select-Best-MF-Lessons-Football/Select-Best-MF-Lessons-Football-home.jpg" width="160" alt="" title="How to select best mutual funds: lessons from football"/></a>
		</div>
	</td>
	<td valign="top">
		<p style="margin-left:20px;"><a target="_blank" href="https://www.advisorkhoj.com/iciciprumf/how-to-select-best-mutual-funds:-lessons-from-football" style="font-size:20px; color: #336699;text-decoration: none;text-align:justify;">How to select best mutual funds: lessons from football</a></p>
<p style="font-size:13px; color:#797676;margin-left:20px;">Jul 06, 2018 by <a target="_blank" href="https://www.advisorkhoj.com/about-us/experts#Dwaipayan" style="color: #336699;text-decoration: none">Dwaipayan Bose</a></p>
	</td>
	</tr>
	</table>
</td>
</tr>
<tr valign="top">
<td colspan="2"><p style="margin-top:10px; line-height:23px;font-size:16px;text-align:justify;">We get many queries in Advisorkhoj asking for our opinion on which mutual fund schemes to invest in order to get the best return in the future. There are thousands of funds with different risk / return characteristics and... <a target="_blank" href="https://www.advisorkhoj.com/iciciprumf/how-to-select-best-mutual-funds:-lessons-from-football" style="color: #336699;text-decoration: none">Read More </a></p>
</td>
</tr>
</table></td>
	</tr>
	
	<tr>
		<td height="19">&nbsp;</td>
	</tr>
	
	<tr>
		<td style="border: 1px solid #f0e4cf; padding:30px; background-color:#fff;" >
			<table width="100%">
<tr>

<td colspan="2">
<table width="100%">
<tr>
<td align="left"><span style="font-size:26px;">Best of <strong>Archives</strong></span>

</td>
<td align="right"><a target="_blank" href="https://www.advisorkhoj.com/articles" style=" font-size:15px;color: #336699; margin-top: 10px;display: inline-block; float:right;text-decoration: none;">See All Articles <img style="display: inline-block;width: 16px;height: 16px;margin-left: 7px;vertical-align: middle;" src="https://www.advisorkhoj.com/resources/images/newsletter/right-icon.png" alt="" title="See All Articles" /></a></td>
</tr>
</table>

</td>
</tr>

<tr valign="top">
<td colspan="2">
	<table>
	<tr>
	<td valign="top">
		<div>
			<a target="_blank" href="https://www.advisorkhoj.com/articles/mutual-funds/aditya-birla-sun-life-frontline-equity:-one-of-the-best-large-cap-mutual-funds" style="text-decoration: none;"><img src="https://www.advisorkhoj.com/resources/images/articles/One-Of-The-Best-Performing-Large-Cap-MF/One-Of-The-Best-Performing-Large-Cap-MF-article.jpg" width="160" alt="" title="One of the best large cap mutual funds"/></a>
		</div>
	</td>
	<td valign="top">
		<p style="margin-left:20px;"><a target="_blank" href="https://www.advisorkhoj.com/articles/mutual-funds/aditya-birla-sun-life-frontline-equity:-one-of-the-best-large-cap-mutual-funds" style="font-size:20px; color: #336699;text-decoration: none;text-align:justify;">One of the best large cap mutual funds</a></p>
<p style="font-size:13px; color:#797676;margin-left:20px;">Dec 07, 2017 by <a target="_blank" href="https://www.advisorkhoj.com/about-us/experts#Dwaipayan" style="color: #336699;text-decoration: none">Dwaipayan Bose</a></p>
	</td>
	</tr>
	</table>
</td>
</tr>
<tr valign="top">
<td colspan="2"><p style="margin-top:10px; line-height:23px;font-size:16px;text-align:justify;">Over the past few years, we have reviewed a number of large cap funds for the benefit of our readers. One scheme which stood out for its performance consistency over the last 3 to 4 years was Aditya Birla Sun Life... <a target="_blank" href="https://www.advisorkhoj.com/articles/mutual-funds/aditya-birla-sun-life-frontline-equity:-one-of-the-best-large-cap-mutual-funds" style="color: #336699;text-decoration: none">Read More </a></p>
</td>
</tr>
</table></td>
	</tr>
	
	<tr>
		<td height="19">&nbsp;</td>
	</tr>

			
    <tr valign="top">
		<td style="border: 1px solid #f0e4cf; padding:10px; background-color:#fff;">
    <table>
<tr>
<td style="text-align:center; font-size:26px;"><strong>Quote of the Day</strong></td>
</tr>
<tr>
<td style="text-align:center;"><p style="line-height:23px; margin-bottom:20px;font-size:16px;text-align:justify;">"You only have to do a very few things right in your life so long as you don't do too many things wrong"<span style="color:#797676;font-style:italic;"> – Warren Buffett</span></p>
</td>
</tr>
</table>
    </td>
    </tr>
	<tr>
<td height="20">&nbsp;</td>
</tr>
</table>
            </td>
		<td width="37" colspan="2">&nbsp;</td>
	</tr>
	<tr style="background-color:#f4eee4;">
		<td width="37">&nbsp;</td>
		<td><table  width="619" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
		<table>
		<tr>
		<td>
			<div style="margin-right:5px;">
			<a title="Facebook" target="_blank" href="https://www.facebook.com/Advisorkhoj" style="text-decoration:none;"><img src="https://www.advisorkhoj.com/resources/images/social/1.png" alt="Facebook" /></a>
			</div>
		</td>
		<td>
			<div style="margin-right:5px;">
			<a title="Twitter" target="_blank" href="https://twitter.com/Advisorkhoj" style="text-decoration:none;"><img src="https://www.advisorkhoj.com/resources/images/social/2.png" alt="Twitter" /></a>
			</div>
		</td>
		<td>
			<div style="margin-right:5px;">
			<a title="GooglePlus" target="_blank" href="https://plus.google.com/u/1/118204796806536192234/posts" style="text-decoration:none;"><img src="https://www.advisorkhoj.com/resources/images/social/3.png" alt="GooglePlus" /></a>
			</div>
		</td>
		<td>
			<div style="margin-right:5px;">
			<a title="Linkedin" target="_blank" href="https://in.linkedin.com/in/advisorkhoj" style="text-decoration:none;"><img src="https://www.advisorkhoj.com/resources/images/social/4.png" alt="Linkedin" /></a>
			</div>
		</td>
		
	
		</tr>
		</table>
		</td>
		<td width="86">&nbsp;</td>
		<td width="250">
			<p style="font-size:16px;">
			Advisor Helpline: <b style="font-size:19px; color:#d89523">08880009939</b><br />

Visit: <a target="_blank" href="https://www.advisorkhoj.com/" style="color: #336699;text-decoration: none; font-size:18px;">www.advisorkhoj.com</a></p></td>
	</tr>
</table></td>
		<td colspan="2" width="38">&nbsp;</td>
	</tr>
	<tr style="background-color:#DEE7EE;">
	<td colspan="5">
	<p align="justify" style="font-size:9px;text-align: center;">Copyright(c) 2012 Advisorkhoj.com. All Rights Reserved.<br/>
	Game Changer Business Services  (I) Pvt., Ltd., No - 41, 10th Main, 5th Block Jayanagar, Bangalore, Karnataka – 560041.
	</p>
	</td>
	</tr>
	<tr>
	<td colspan="5">
	<p align="justify" style="font-size:9px;">
	<np />
Disclaimer: This email has been sent to you by GameChanger Business Services (I) Pvt Ltd (for more information visit <a target="_blank" style="color:#606060;text-decoration:none" href="https://www.advisorkhoj.com">www.advisorkhoj.com</a>). This email is intended solely for the address and the information it contains is confidential. If you are not the intended recipient (a) please delete this email and inform the sender as soon as possible, and (b) any copying, distribution or other action taken or omitted to be taken in reliance upon it, is prohibited and may be unlawful.
	</p>
	</td>
	</tr>
</table>
</center>
</body>
</html>
